.banner {
    background-image: url("https://i.ibb.co/2ZBdthv/footballs.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: linear-gradient(to right bottom, #05193794, #004d7a96, #00879399, #00bf7296, #a8eb12a6);
    z-index: 1;
}

.banner h1 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 2;
}

.banner-icon {
    color: lightgreen;
}