.banner {
    background-image: url("https://i.ibb.co/2ZBdthv/footballs.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-title {
    background: rgba(0, 0, 0, 0.5);
}

.banner h1 {
    letter-spacing: 5px;
    font-weight: bold;
    color: #fff;
}